/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: '.*PREPARE_CHAI1_DBS:ARIA2_CHAI1_.*' {
        publishDir = [
            path: { "${params.outdir}/DBs/chai1" },
            mode: 'symlink',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename },
        ]
    }

    withName: 'RUN_CHAI1' {
        accelerator = { params.use_gpu ? 1 : 0 }
        publishDir = [
            [
                path: { "${params.outdir}/chai1/${meta.id}" },
                mode: 'copy',
                saveAs: { filename -> filename.replaceAll(/_plddt_mqc\.tsv$/, '_plddt.tsv') },
                pattern: '*_plddt_mqc.tsv'
            ],
            [
                path: { "${params.outdir}/chai1/top_ranked_structures" },
                mode: 'copy',
                saveAs: { "${meta.id}.cif" },
                pattern: '*_chai1.cif'
            ]
        ]
    }

    withName: 'NFCORE_PROTEINFOLD:CHAI1:MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : "chai1_$filename" }
        ]
    }
}
